<div class="main-header">
  <div class="left-col">
    <div class="back-button">
      <img src="assets/icons/chevron-left.svg" alt="Back button">
    </div>

    <div class="title-container">
      <h1>Firestore Modeling</h1>
      <h2>Project: <b>Dr.Focus</b></h2>
    </div>
  </div>
  <div class="middle-col">
    <div class="button-group">
      <button class="active">Diagram View</button>
      <button>Rules View</button>
    </div>
  </div>
  <div class="right-col">
    <button class="default-button save-button">Save Diagram</button>
  </div>
</div>
