:host {
  width: 280px;
  display: block;
}

.selected {
  border: 2px solid #217ee9e0 !important;
}

.document-card {
  border-radius: 5px;
  background-color: #fff;
  width: 280px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.04);
  -moz-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.04);
  box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.04);
  font-family: 'Poppins', sans-serif;
  transition: 0.1s linear;
  user-select: none;
  cursor: pointer;
  .document-header {
    border-bottom: 2px solid #f2f2f2;
    display: flex;
    padding: 15px 10px;
    position: relative;
    .title-icon {
      width: 18px;
    }
    .document-title {
      font-size: 14px;
      line-height: 18px;
      margin: 0px 0px 0px 5px;
      color: #494a4e;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
    }
    .more-icon {
      width: 18px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      transition: 0.1s linear;
    }
  }
  .document-body {
    padding: 15px 10px;
    p {
      margin: 0px;
      font-size: 14px;
      line-height: 18px;
      color: #494a4e;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      u {
        font-weight: bold;
        color: #000;
        cursor: pointer;
        &:hover {
          color: rgba(0, 0, 0, 0.466);
        }
      }
    }
  }
  .more-detail {
    display: none;
  }
}
