<div class="document-card" [ngClass]="{'selected': document.componentOptions.selected}">
  <div class="more-detail">
    <div class="item">Copy</div>
    <div class="item">Delete</div>
  </div>

  <div class="document-header">
    <img src="assets/icons/database.svg" class="title-icon" alt="Firestore document">
    <h1 class="document-title">users</h1>
    <img class="more-icon" src="assets/icons/more-horizontal.svg" alt="More document">
  </div>
  <div class="document-body">
    <p>○ There are <u data-clickable="false">8</u> fields in total.</p>
  </div>
</div>
